.twitter-list {
  font-family: 'Segoe UI'sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.btn-twitter {
  font-family: 'Segoe UI'sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  width: 230px;
  height: 55px;
  left: 155px;
  top: 577px; 
  background: #1D9BF0;
  border-radius: 27.5px;
}
.btn-twitter:hover {
  opacity: 0.8;
}
.line {
  border-right:solid 1px ;
}
.active{
font-weight: bold;
}